In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('large_countries_2015.csv', index_col=0)
df

                 population  fertility      continent
country
Bangladesh     1.609956e+08       2.12           Asia
Brazil         2.078475e+08       1.78  South America
China          1.376049e+09       1.57           Asia
India          1.311051e+09       2.43           Asia
Indonesia      2.575638e+08       2.28           Asia
Japan          1.265735e+08       1.45           Asia
Mexico         1.270172e+08       2.13  North America
Nigeria        1.822020e+08       5.89         Africa
Pakistan       1.889249e+08       3.04           Asia
Philippines    1.006994e+08       2.98           Asia
Russia         1.434569e+08       1.61         Europe
United States  3.217736e+08       1.97  North America

In [4]:
# 2. check dataframe for null values

df.isnull()

               population  fertility  continent
country
Bangladesh          False      False      False
Brazil              False      False      False
China               False      False      False
India               False      False      False
Indonesia           False      False      False
Japan               False      False      False
Mexico              False      False      False
Nigeria             False      False      False
Pakistan            False      False      False
Philippines         False      False      False
Russia              False      False      False
United States       False      False      False

In [5]:
# check datatypes

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, Bangladesh to United States
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  12 non-null     float64
 1   fertility   12 non-null     float64
 2   continent   12 non-null     object
dtypes: float64(2), object(1)
memory usage: 384.0+ bytes

In [6]:
# 4. check how many countries from each continent are in the dataset

df['continent'].value_counts()

continent
Asia             7
North America    2
South America    1
Africa           1
Europe           1
Name: count, dtype: int64

In [7]:
# 5. display a dataframe which only has countries located in Asia

continent_filter = df['continent'] == 'Asia'
df.loc[continent_filter]

               population  fertility continent
country
Bangladesh   1.609956e+08       2.12      Asia
China        1.376049e+09       1.57      Asia
India        1.311051e+09       2.43      Asia
Indonesia    2.575638e+08       2.28      Asia
Japan        1.265735e+08       1.45      Asia
Pakistan     1.889249e+08       3.04      Asia
Philippines  1.006994e+08       2.98      Asia

In [8]:
# 7. display a dataframe which only has countries that have a population of no less than 100,000 and no more than 250,000,000

population = df['population'].between(100_000,250_000_000)
population

country
Bangladesh        True
Brazil            True
China            False
India            False
Indonesia        False
Japan             True
Mexico            True
Nigeria           True
Pakistan          True
Philippines       True
Russia            True
United States    False
Name: population, dtype: bool

In [9]:
fertility_filter = df['fertility'] < 1.8
fertility_filter

country
Bangladesh       False
Brazil            True
China             True
India            False
Indonesia        False
Japan             True
Mexico           False
Nigeria          False
Pakistan         False
Philippines      False
Russia            True
United States    False
Name: fertility, dtype: bool

In [ ]:
# 8. display a dataframe which only has countries located in Asia that have a fertilitiy rate of less than 1.8

combined_filters = (df['continent'] == 'Asia') & (df['fertility'] < 1.8)
df.loc[combined_filters]

In [ ]:
df1 = (df.continent == 'Asia') & (df.fertility < 1.8)
df1

# Countries per Continent distribution

In [ ]:
import pandas as pd

In [ ]:
from matplotlib import pyplot as plt

In [ ]:
df = pd.read_csv('continents.csv', sep=';')
df

In [ ]:
df1 = df['continent'].value_counts().plot(kind='bar')
df1

# Data Cleansing and Missing Data

In [17]:
import pandas as pd

In [18]:
! pip install numpy

Requirement already satisfied: numpy in /Users/anat/miniconda3/lib/python3.11/site-packages (1.25.2)

In [19]:
pop = pd.read_csv('population.csv')

In [21]:
pop.head()

                 country  year  population
0               Abkhazia  1800         NaN
1            Afghanistan  1800   3280000.0
2  Akrotiri and Dhekelia  1800         NaN
3                Albania  1800    410445.0
4                Algeria  1800   2503218.0

In [22]:
pop.rename(columns={'Total population':'country'}, inplace=True)
pop.isnull().sum()

country          0
year             0
population    2099
dtype: int64

In [23]:
pop.dropna(inplace=True)
pop = pop[pop['year']>1949]
pop.head()

                    country  year  population
4126            Afghanistan  1950   7752118.0
4127  Akrotiri and Dhekelia  1950     10661.0
4128                Albania  1950   1263171.0
4129                Algeria  1950   8872247.0
4130         American Samoa  1950     18937.0

In [24]:
pop.to_csv('pop_clean.csv', index=False)

In [26]:
fert = pd.read_csv('fertility_rate.csv')

In [27]:
fert.rename(columns={'Total fertility rate':'country'}, inplace=True)
fert

                     country  year  fertility
0                   Abkhazia  1800        NaN
1                Afghanistan  1800       7.00
2      Akrotiri and Dhekelia  1800        NaN
3                    Albania  1800       4.60
4                    Algeria  1800       6.99
...                      ...   ...        ...
56154                  Yemen  2015       3.83
56155             Yugoslavia  2015        NaN
56156                 Zambia  2015       5.59
56157               Zimbabwe  2015       3.35
56158                  Åland  2015        NaN

[56159 rows x 3 columns]

In [28]:
fert.isnull().sum()

country          0
year             0
fertility    12747
dtype: int64

In [29]:
fert.dropna(inplace=True)
fert = fert[fert['year']>1949]
fert.head()

                   country  year  fertility
39001          Afghanistan  1950       7.67
39003              Albania  1950       5.80
39004              Algeria  1950       7.65
39007               Angola  1950       6.93
39009  Antigua and Barbuda  1950       4.45

In [31]:
fert.to_csv('fert_clean.csv', index=False)