In [3]:

import pandas as pd

In [6]:
# 1. read the life expectancy cleaned dataset into your notebook (the dataset you created in Data Cleansing before). If you want to use country as the index you may use the `index_col` parameter while reading it from the file:

life_df = pd.read_csv('Life_expectancy_clean.csv')
life_df

                     Country  Year  Life_Expectancy
0                Afghanistan  1950            26.85
1                    Albania  1950            54.48
2                    Algeria  1950            42.77
3                     Angola  1950            30.70
4        Antigua and Barbuda  1950            57.97
...                      ...   ...              ...
13702  Virgin Islands (U.S.)  2016            80.82
13703                  Yemen  2016            64.92
13704                 Zambia  2016            57.10
13705               Zimbabwe  2016            61.69
13706            South Sudan  2016            56.10

[13707 rows x 3 columns]

In [8]:
# 2. calculate the mean life expectancy

print(life_df['Life_Expectancy'].mean())

62.98883344276646

In [9]:
# 3. calculate the mean life expectancy for the year 2000

life_2000 = life_df[life_df['Year']==2000]

print(life_2000)

print(life_2000['Life_Expectancy'].mean())

              Country  Year  Life_Expectancy
10163     Afghanistan  2000             50.1
10164         Albania  2000             74.7
10165         Algeria  2000             73.3
10166  American Samoa  2000             71.7
10167         Andorra  2000             83.7
...               ...   ...              ...
10367           Yemen  2000             62.4
10368          Zambia  2000             44.8
10369        Zimbabwe  2000             47.9
10370           Åland  2000             80.0
10371     South Sudan  2000             54.4

[209 rows x 3 columns]
68.0777033492823

In [10]:
# 4. calculate the median for 1995

life_1995 = life_df[life_df['Year']==1995]

print(life_1995['Life_Expectancy'].median())

70.0

In [11]:
# 5. calculate the standard deviation
import numpy as np

In [13]:
print(np.std(life_df['Life_Expectancy']))

11.895137868612986

In [14]:
# 6. find the highest life expectancy

print(life_df['Life_Expectancy'].max())

84.8

In [15]:
# 7. find the country and year for the highest life expectancy

max_life_expectancy_row = life_df['Life_Expectancy'].idxmax()

print(life_df.loc[max_life_expectancy_row])

Country            Andorra
Year                  2013
Life_Expectancy       84.8
Name: 12879, dtype: object

In [16]:
# 8. find the lowest life expectancy

print(life_df['Life_Expectancy'].min())

13.2

In [17]:
# 9. find the country and year was the lowest life expectancy

min_life_expectancy_row = life_df['Life_Expectancy'].idxmin()

print(life_df.loc[min_life_expectancy_row])

Country            Rwanda
Year                 1994
Life_Expectancy      13.2
Name: 9068, dtype: object

In [18]:
# 10. find the 90% quantile of the life expectancy

print(life_df['Life_Expectancy'].quantile(0.9))

76.4

In [19]:
# 11. calculate min, max, mean and possibly other descriptors with a single line
life_df.describe()

               Year  Life_Expectancy
count  13707.000000     13707.000000
mean    1983.251550        62.988833
std       19.364466        11.895572
min     1950.000000        13.200000
25%     1966.000000        54.815000
50%     1983.000000        65.570000
75%     2000.000000        72.230000
max     2016.000000        84.800000